@media (max-width: 991.98px) {
  #body {
    margin-bottom: auto;
    text-align: center;
  }

  /* Home */
#home {
    background: url(./css/safar-safarov-LKsHwgzyk7c-unsplash.jpg) no-repeat center
      center;
      background-size: cover;
      padding-top: 20%;
      padding-bottom: 20%;
      color: #fff;
  }
  
  #home h4 {
    font-family: poppins;
    font-weight: 600;
    color: rgb(104, 207, 100);
    font-size: 20px;
  }
  
  #home h3 {
    font-size: poppins;
    color: #909942;
    font-size: 25px;
  }
  /* Akhir Home */
  
  /* Portofolio */
  #profile {
    margin-top: 50px;
  }
  
  #profile .card-img {
    object-fit: cover;
  }
  
  #profile h3 {
    font-family: poppins;
    font-weight: 600;
    font-size: 30px;
  }
  /* Akhir Portofolio */
  
  /* contact */
  #contact {
    margin-top: 150px;
  }
  
  #contact h3 {
    font-family: poppins;
    font-weight: 600;
    font-size: 30px;
  }
  
  #contact a {
    font-size: 30px;
    margin: 0 10px;
    color: #acacac;
  }
  /* Akhir contact */
   
  /* utilitis */
  .caption {
    margin-top: 50px;
  }
  
  .card-text {
    font-family: poppins;
    color: #acacac;
  }
  
  .text {
    font-family: poppins;
    font-size: 16px;
    color: #acacac;
  }
}
