@media (max-width: 991.98px) {
  #body {
    margin-bottom: auto;
    text-align: center;
  }
  
  /* Navbar */
.nav-link {
  text-transform: uppercase;
  color: #fff;
  margin-right: 40px;
  font-size: 16px;
  text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  font-family: viga;
  font-size: 20px;
}

/* Home */
#home {
  background: url(/img/safar-safarov-MSN8TFhJ0is-unsplash.jpg) no-repeat center
    center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  color: black;
}

#home h6 {
  font-family: raleway;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  font-weight: 600;
}

#home p {
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 100px;
  color: #fff;
}

#home img {
  border-radius: 250%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#home a {
  font-size: 50px;
  color: rgb(243, 228, 194);
  margin-right: 25px;
}
/* Akhir Home */

}
